# Module 11 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [1]:
# Import Splinter and BeautifulSoup
# Scraping
from splinter import Browser
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

# requests
import requests
import time

# parsing
from bs4 import BeautifulSoup

# data science
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Open a Chrome window using Splinter
my_service = Service(executable_path=ChromeDriverManager().install())
browser = Browser('chrome', service=my_service)

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [3]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [4]:
# Create a Beautiful Soup object

# Get the HTML content from the browser:

html = browser.html

# Create a Beautiful Soup object using the HTML content:

soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Extract all rows of data
table = soup.find("table", {"class":"table"})

dfs = pd.read_html(str(table))
df = dfs[0]

df.head()

C:\Users\Chandler\AppData\Local\Temp\ipykernel_23720\965726729.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(str(table))

   id terrestrial_date  sol   ls  month  min_temp  pressure
0   2       2012-08-16   10  155      6     -75.0     739.0
1  13       2012-08-17   11  156      6     -76.0     740.0
2  24       2012-08-18   12  156      6     -76.0     741.0
3  35       2012-08-19   13  157      6     -74.0     732.0
4  46       2012-08-20   14  157      6     -74.0     740.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   int64
 1   terrestrial_date  1867 non-null   object
 2   sol               1867 non-null   int64
 3   ls                1867 non-null   int64
 4   month             1867 non-null   int64
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: float64(2), int64(4), object(1)
memory usage: 102.2+ KB

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [ ]:
# Create an empty list
rows = table_rows = table.find_all("tr", {"class": "data-row"})

# Loop through the scraped data to create a list of rows
for row in rows:
    id = row.find_all("td")[0].text
    terrestrial_date = row.find_all("td")[1].text
    sol = row.find_all("td")[2].text
    ls = row.find_all("td")[3].text
    month = row.find_all("td")[4].text
    min_temp = row.find_all("td")[5].text
    pressure = row.find_all("td")[6].text

In [8]:
# Create an empty list
rows = table_rows = table.find_all("tr", {"class": "data-row"})

# Loop through the scraped data to create a list of rows
for row in rows[0:10]:
    id = row.find_all("td")[0].text
    terrestrial_date = row.find_all("td")[1].text
    sol = row.find_all("td")[2].text
    ls = row.find_all("td")[3].text
    month = row.find_all("td")[4].text
    min_temp = row.find_all("td")[5].text
    pressure = row.find_all("td")[6].text
    
    row = {
            "id": id,
            "terrestrial_date": terrestrial_date,
            "sol": sol,
            "ls": ls,
            "month": month,
            "min_temp": min_temp,
            "pressure": pressure
    }

    rows.append(row)

print(row[1])

KeyError: 1

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
table_df = pd.DataFrame(rows)
table_df

In [ ]:
# Confirm DataFrame was created successfully

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [ ]:
# Examine data type of each column

In [ ]:
# Change data types for data analysis

In [ ]:
# Confirm type changes were successful by examining data types again

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [ ]:
# 1. How many months are there on Mars?

In [ ]:
# 2. How many sols (Martian days) worth of data are there?

In [ ]:
# 3. What is the average minimum temperature by month?

In [ ]:
# Plot the average minimum temperature by month

In [ ]:
# Identify the coldest and hottest months in Curiosity's location by sorting the previous graph

In [ ]:
# 4. What is the average pressure by month?

In [ ]:
# Plot the average pressure by month

In [ ]:
# Identify the lowest and highest pressure months in Curiosity's location by sorting the previous graph

In [ ]:
# 5. How many terrestrial (Earth) days are there in a Martian year?
# Visually estimate the result by plotting the daily minimum temperature of each observation in the data set.

#### Minimum Temperature

YOUR ANALYSIS HERE

#### Atmospheric Pressure

YOUR ANALYSIS HERE

#### Year Length

YOUR ANALYSIS HERE

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [ ]:
# Write the data to a CSV

In [ ]:
browser.quit()